.grid {
    margin: 3rem 1rem;
    @media #{$phone} {
        margin: 1rem;
    }
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: stretch;
    .column {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        width: 600px;
        align-self: top;
    }
}