.main-services__element__service-image_environment {
    width: 140px;
    background: url('../assets/images/home/environment-2x.png');
    background-size: cover;
}

.main-services__element__service-image_learning {
    width: 112px;
    background: url('../assets/images/home/learning-2x.png');
    background-size: cover;
}

.main-services__element__service-image_ideas {
    width: 105px;
    background: url('../assets/images/home/idea-2x.png');
    background-size: cover;
}

.main-services__element__service-image_play-area {
    width: 138px;
    background: url('../assets/images/home/play-area-2x.png');
    background-size: cover;
}