.info__logo {
    width: 360px;
    height: 175px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    background: url('../assets/images/common/pixieplay-logo-2x.png') no-repeat;
    background-size: contain;
    background-position: center;
}