.events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: stretch;
    background-image: url('../assets/images/common/geometry-pattern.png');
    padding: 3.125rem;
}

@import '__image/events__image';
@import '__lists/events__lists';