.main-nav__menu__menu-item {
    padding: 10px;
    @include mq($until: wide) {
        padding: 6px;
    }
    font-size: 1.2em;
    @include mq($until: wide) {
        font-size: 1em;
    }
    font-weight: 900;
    a {
        border-radius: 10px;
        padding: 10px 20px;
        @include mq($until: wide) {
            padding: 10px;
        }
    }
    @include mq($until: desktop) {
        display: none;
    }
}

@import '_color/main-nav__menu__menu-item_color_orange';
@import '_color/main-nav__menu__menu-item_color_yellow';
@import '_color/main-nav__menu__menu-item_color_magenta';
@import '_color/main-nav__menu__menu-item_color_blue';
@import '_color/main-nav__menu__menu-item_color_teal';
@import '_color/main-nav__menu__menu-item_color_green';