@import 'miscellaneous/vars';
@import 'blocks/contact-slideout/contact-slideout';
@import 'blocks/main-nav/main-nav';
@import 'blocks/main-nav/main-nav-decorator';
@import 'blocks/hero-image/hero-image';
@import 'blocks/main-services/main-services';
html,
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: $defaultFontSize;
    margin: 0;
    padding: 0;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


/* Rules for sizing the icon. */

.material-icons.small {
    font-size: $smallFontSize;
}

.material-icons.default {
    font-size: $defaultFontSize;
}

.material-icons.medium {
    font-size: $mediumFontSize;
}

.material-icons.tiny {
    font-size: $tinyFontSize;
}