.main-nav__menu__menu-item_color_orange {
    @extend %a-color_orange;
    a:hover {
        background-color: $pixieplayOrange;
        color: white;
        border-radius: 10px;
        transition: all 0.4s;
    }
    a:link.active,
    a:link.visited {
        border: thin solid $pixieplayOrange;
    }
}