.main-nav__menu__menu-item_color_teal {
    a:link,
    a:visited {
        color: $pixieplayBlue;
    }
    a:hover {
        background-color: $pixieplayBlue;
        color: white;
        border-radius: 10px;
        transition: all 0.4s;
    }
    a:link.active,
    a:link.visited {
        border: thin solid $pixieplayBlue;
    }
}