.main-nav__menu__menu-item_color_blue {
    @extend %a-color_blue;
    a:hover {
        background-color: #7a8ed9;
        color: white;
        border-radius: 10px;
        transition: all 0.4s;
    }
}