.page-header {
    position: relative;
    height: 250px;
    font-family: 'Spicy Rice';
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    @media #{$phone} {
        height: 80px;
        font-size: 1.5rem;
    }
}

@import '_background/page-header_background';