.main-nav__menu__menu-item {
    padding: 20px;
    font-size: 18px;
    font-weight: 900;
    a:link {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

@import '_color/main-nav__menu__menu-item_color_orange';
@import '_color/main-nav__menu__menu-item_color_yellow';
@import '_color/main-nav__menu__menu-item_color_magenta';
@import '_color/main-nav__menu__menu-item_color_blue';
@import '_color/main-nav__menu__menu-item_color_teal';
@import '_color/main-nav__menu__menu-item_color_green';