<section class="page-header page-header_background page-header_background_space">
    <div>About Us</div>
</section>
<section class="page">
    <div class="page__main">
        <section class="grid">
            <div class="column">
                <img src="/assets/images/about/dragon.png" width="100%" alt="A fairy tale image to represent about us">
            </div>
            <div class="column">
                <blockquote>
                    There are no rules, just have fun!
                </blockquote>
                <p>
                    More of a toy space than a soft play, you will love that Pixie Play is spotlessly clean and organized (perhaps because it’s run by a team of mamas!).
                </p>
                <p>
                    There’s a ball pool, soft play for babies and toddlers, and more educational toys to complement the usual selection of plastic bits and bobs, along with costumes for dress-up and a great play kitchen. Good for very little ones as it’s quite peaceful.
                </p>
                <p>
                    We believe that play is a valuable learning tool.The place is designed to provide children under 7 years old (or less than 130cm in height) an imaginative, challenging, and fun yet safe environment to play and explore.
                </p>
                <p>
                    We are constantly looking for ways to improve our services and will be developing classes, special activities, and more. We appreciate your feedback as we try our best in developing a unique place space for children and grown-ups alike
                </p>
                <p>
                    Safety and hygiene are our utmost concerns and they will never be compromised. After all, we, ourselves are our biggest critic. It is our greatest joy to realise a dream haven for our children.
                </p>
            </div>
        </section>
    </div>
</section>