<section class="page-header page-header_background page-header_background_space">
    <div>Contact Us</div>
</section>
<section class="page">
    <div class="page__main">
        <div class="grid">
            <div class="column">
                <iframe class='map' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.8198578417464!2d80.223291315612!3d12.983370990848158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d841e989343%3A0xba94fea99ef72de2!2sPixie+Play!5e0!3m2!1sen!2ssg!4v1505036295496"
                    frameborder="0" style="border:0" allowfullscreen>
                </iframe>
            </div>
            <div class="column">
                <section class="info">
                    <div class="info__items">
                        <div class="info__items__item">
                            <h1><i class="fa fa-map-marker" aria-hidden="true"></i> Address</h1>
                            <address>No.25, 4th Cross Street, Dhandeeswaram Nagar, Velachery, Chennai – 600042</address>
                        </div>
                        <div class="info__items__item">
                            <h1><i class="fa fa-clock-o" aria-hidden="true"></i> Timinigs</h1>
                            Monday - Friday: <time>7:30 am</time> - <time>17:00 pm</time>, Saturday: <time>8:00 am</time> - <time>15:00 pm</time>
                        </div>
                        <div class="info__items__item">
                            <h1><i class="fa fa-phone" aria-hidden="true"></i> Contact Numbers</h1>
                            <i class="fa fa-mobile" aria-hidden="true"></i> <a href="tel:+919677145121">+91 96771 45121</a>
                            <i class="fa fa-mobile" aria-hidden="true"></i> <a href="tel:+917397397881">+91 73973 97881</a>
                            <i class="fa fa-whatsapp" aria-hidden="true"></i> <a class="link" href="https://api.whatsapp.com/send?phone=+917397397880">+91 73973 97880</a>
                        </div>
                        <div class="info__items__item">
                            <h1><i class="fa fa-envelope" aria-hidden="true"></i> Email</h1>
                            <a class="link" href="mailto:contact@pixieplay.in">contact@pixieplay.in</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>