<section class="page-header page-header_background page-header_background_space">
    <div>Upcoming Events</div>
</section>
<section class="page">
    <div class="page__main">
        <section class="grid">
            <div class="column">
                <img src="/assets/images/events/calendar.png" height="300" alt="Calendar icon">
            </div>
            <div class="column">
                <p><i class="fa fa-info-circle" aria-hidden="true"></i> No events scheduled for now. Please check at a later date!</p>
            </div>
        </section>
    </div>
</section>