<section class="page-header page-header_background page-header_background_space">
    <div>Upcoming Events</div>
</section>
<section class="page">
    <div class="page__main">
        <section class="grid">
            <div class="column">
                <img src="/assets/images/events/calendar.png" height="300" alt="Calendar icon">
            </div>
            <div class="column">
                <p><ul><li>Tue, 24 Oct 2023 - Join us for a FREE Aksharabhyasam - A Beautiful Beginning to Literacy for Kids! </li></ul></p>
            </div>
        </section>
    </div>
</section>