<main>
    <section class="page-header page-header_background page-header_background_space">
        <div>Programmes Offered</div>
    </section>
    <section class="page">
        <div class="page__main">
            <p>
                The following Programmes are offered at Pixie Play
            </p>
            <div class="card-list card-list_inline">
                <div class="card-list__item">
                    <img class="card-list__item__image" src="/assets/images/programmes/kids-imagine.jpg" alt="Children icon for play group">
                    <div class="card-list__item__text">
                        <h1>Play Group</h1>
                        <p>Age Group: 1.5 - 2.5 years</p>
                    </div>
                </div>
                <div class="card-list__item">
                    <img class="card-list__item__image" src="/assets/images/programmes/girl-imagine.jpg" alt="Children icon for Pre KG">
                    <div class="card-list__item__text">
                        <h1>Pre - KG</h1>
                        <p>Age Group: 2.5 - 3.5 years</p>
                    </div>
                </div>
            </div>
            <p>We provide a school environment that fosters positive self esteem, mindfulness through engaging hands on learning to allow our student's natural abilities, personality and talents to shine through. Our programmes promotes experiential learning
                through hands-on, practical learning experiences with exciting and meaningful themes. We prepare children for learning through inquiry by employing the inquiry approach in a progressive manner from the playgroup to pre-KG years.
            </p>
            <p>Our curriculum supports the development of skills and competencies in following areas
                <ul>
                    <li>Language &amp; Literacy</li>
                    <li>Numeracy</li>
                    <li>Science &amp; Discovery</li>
                    <li>Motor Skills</li>
                    <li>Music &amp; Movement</li>
                    <li>Art &amp; Craft</li>
                    <li>Self &amp; Social Awareness</li>
                </ul>
                Activities are integrated, multi-modal and taps on children’s multiple intelligences.
            </p>
        </div>
    </section>
</main>