<main>
    <section class="page-header page-header_background page-header_background_space">
        <div>Services Offered</div>
    </section>
    <section class="page">
        <div class="page__main">
            <section class="grid">
                <div class="column">
                    <h1>Play House</h1>
                    <blockquote>
                        Give your kids a break from Video games &amp; TV
                    </blockquote>
                    <p>
                        This new spot is exclusively dedicated to younger kids (under 7 years) to ensure they can play in a safe and gentle environment. It’s not so much an indoor/outdoor playground, but a parent-accompanied space where children can learn through play, exploration,
                        seeing and thinking at the various interactive play area set up throughout the space.
                    </p>
                </div>
                <div class="column">
                    <h1>Day Care</h1>
                    <p>
                        A daycare center with a welcoming, friendly atmosphere and known for its nurturing environment. We have structured schedules that include plenty of time for physical activity, quiet time (including daily reading sessions for groups and individuals), group
                        programs, individual activities, healthy evening snacks and milk.
                    </p>
                </div>
                <div class="column">
                    <h1>Birthday Parties</h1>
                    <p>
                        Your child’s birthday is fast approaching, and you want to give your little VIP a very special birthday bash but you’ve just got too much on your plate! We’re here to show you that planning a super cool and extremely memorable party for your kid is not
                        as difficult as you may think.
                    </p>
                    <p>Contact us for more details on packages and pricing.</p>
                </div>
                <div class="column">
                    <h1>Other Activities</h1>
                    <p>
                        We offer following after school Activities
                        <ul>
                            <li>Drawing</li>
                            <li>Dance (Western &amp; Classical)</li>
                            <li>Chess</li>
                            <li>Tuition</li>
                            <li>Grammer, Handwriting and Spoken English</li>
                        </ul>
                    </p>
                </div>
            </section>
        </div>
    </section>
</main>