.events__lists {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 600px;
    h1 {
        font-family: 'Spicy Rice';
        font-size: 40px;
        @media #{$phone} {
            font-size: 24px;
            width: 311px;
        }
    }
}

@import '__lists__list/events__lists__list';