.page-header_background {
    position: relative;
}

.page-header_background_space::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $pixieplayBlue;
    background-image: url('../assets/images/courses/space-pattern.png');
    opacity: .1;
    content: "";
    z-index: -1;
}