.hero-image__intro-text {
    position: absolute;
    pointer-events: none;
    left: 15%;
    bottom: 20%;
    font-family: 'Spicy Rice';
    text-align: left;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    &__small {
        font-size: 3rem;
        color: #ffc000;
    }
    &__large {
        font-size: 4rem;
        color: white;
    }
}