.page-header_background {
    position: relative;
}

.page-header_background_space::before {
    @extend %page-header;
    background-image: url('../assets/images/programmes/chalkboard.jpg');
}

.page-header_background_services::before {
    @extend %page-header;
    background-image: url('../assets/images/services/lego.png');
}