.welcome__text {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 600px;
    margin-left: 60px;
    @media #{$phone} {
        margin-left: 10px;
    }
    h1 {
        width: 311px;
        font-family: 'Spicy Rice';
        font-size: 64px;
        @media #{$phone} {
            font-size: 24px;
            width: 311px;
        }
    }
}