.welcome__text {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 600px;
    h1 {
        width: 311px;
        margin-top: 0;
        font-family: 'Spicy Rice';
        font-size: 64px;
        @include mq($until: tablet) {
            margin-top: 1rem;
            font-size: 24px;
            width: 311px;
        }
    }
}