.main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    height: 100px;
    background: white;
}

@import '__logo/main-nav__logo';
@import '__menu/main-nav__menu';