//Colors
$pixieplayBlue: #00a9b2;
$pixieplayOrange: #ff6600;
//font sizea
$defaultFontSize: 16px;
$mediumFontSize: 14px;
$smallFontSize:13px;
$tinyFontSize:12px;
//Media queries Sizes
$phone: "only screen and (min-device-width : 320px) and (max-device-width : 480px)";
$desktop: "only screen  and (min-width : 1224px)";
$landscape: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";
$largeScree: "only screen  and (min-width : 1824px)";
$retinaDisplay: "only screen and (-webkit-min-device-pixel-ratio: 1.3),only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi)";
$retinaDesktopDisplay: "only screen and (-webkit-min-device-pixel-ratio: 1.3) and (min-width : 1224px),only screen and (-o-min-device-pixel-ratio: 13/10) and (min-width : 1224px), only screen and (min-resolution: 120dpi) and (min-width : 1224px)";