<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="PixiePlay">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %} {{ page.title }} | {% endif %} Pixie Play - It's Play Time</title>

    <meta name="msapplication-tap-highlight" content="no">

    <meta name="theme-color" content="#00a9b2">

    <link rel="icon" type="image/png" href="/favico.png">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css?version=1.0.0" />
    <script src="/js/main.js?version=1.0.0.js"></script>
</head>

<body>
    <section class="contact-slideout">
        <div class="contact-slideout__element">
            <div class="contact-slideout__element__contact">
                <i class="fa fa-phone" aria-hidden="true"></i> +91 96771 45121
            </div>
            <div class="contact-slideout__element__contact">
                <i class="fa fa-whatsapp" aria-hidden="true"></i> +91 96771 45122
            </div>
            <div class="contact-slideout__element__contact">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </div>
            <div class="contact-slideout__element__contact">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
        </div>
        <div class="contact-slideout__element">
            <div class="contact-slideout__element__contact">
                <i class="fa fa-map-marker" aria-hidden="true"></i> No.25, 4th Cross Street, Dhandeeswaram Nagar, Velachery, Chennai – 600042
            </div>
        </div>
        <div id="MobileMenuText" class="contact-slideout__mobile-menu">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span>Menu</span>
        </div>
    </section>
    {{ content }}
    <footer>
        <div class="footer-decorator">
            <svg width="100%">
                <defs>
                    <pattern id="footer-pattern" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse">
                    <circle cx="8" cy="8" r="8" stroke="none" fill="#00a9b2" />
                    </pattern>
                </defs>
                <rect x="" y="16" width="100%" height="16" fill="url(#footer-pattern)" />
            </svg>
        </div>
        <div class="footer__elements">
            <div class="footer__elements__element">
                <p>
                    Pixie Play &copy; 2017 / All Rights Reserved
                </p>
            </div>
            <div class="footer__elements__element">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
        </div>
    </footer>
</body>

</html>